<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>My Guestbook</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/guestbook.css">
<link rel="stylesheet" href="css/custom.css">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">
	
	<div class="container">
    	<div class="row">
    	<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        	<div class="navbar-header">
            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
               </div>
               <div class="collapse navbar-collapse" id="collapse">
        	<ul class="nav navbar-nav" >
            	<li><a href="index.html">ABOUT ME</a></li>
                <li><a href="buy.html">BUY</a></li>
                <li ><a href="contact.html">CONTACT</a></li>
                <li class="active"><a href="guestbook">GUESTBOOK</a></li>
            </ul>
            </div>
        </nav>
     </div>


<br/><br/><br/><br/>
<h1>
My Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</body>
</html>