body{
	padding-top:100px;	
}

.navbar{
	padding-left:100px;
	font-size:15px;
	
}

#header{
	text-align:center;
	font-size:35px;
	width:100%;
	color:white;
	height:50px;
	background:#25B6EB;
}


#footer{
	width:100%;
	backgorund-color:#000000;
	height:100px;
	text-align:center;
	padding-top:30px;
}

#fourth{
	text-align:center;
	
}

footer{
	
	background-color:#000000;
	height:50px;
	width:100%;
	color:white;
	text-align:center;
	font-size:19px;
}
#copyright{
	padding-top:15px;
}
